
// font
$font-family: "Inter", sans-serif;

// light color variable
$sidebarbg: white;
$background: white;
$cardbg: white;
$toolbar: #f8fafd;
$cardshadow: 0px 1px 4px 0px rgba(133, 146, 173, 0.2);
$hoverBgColor: #f6f9fc;

// Sidenav
$sidenav-desktop: 260px !default;
$header-height: 70px !default;

//BorderColor
$borderColor: #e4ebf0;
$borderformColor: #dfe5ef;
$bordertableColor: #111c2d0d;

// custom
$primary: #00a1ff;
$accent: #8965e5;
$warning: #ffae1f;
$error: #ff6692;
$success: #00ceb6;
$white: #ffffff;
$dark: #111c2d;
$dark-200: #111c2d;

$light: #eff4fa;
$muted: #5a6a85;

$gray-100: #7c8fac;
$gray-200: #f6f7f9;
$bordercheckboxColor: #bdc3cd;

$light-primary: #00a1ff1a;
$light-accent: #e7e2f3;
$light-warning: #fff1cc;
$light-error: #ffe4ec;
$light-success: #d2f9f4;

// layout
$boxedWidth: 1200px;

$border-radius: 24px;

// text color
$textPrimary: #111c2d;

$bodyColor: #111c2d99;

$body-bg: #f8fafd;
